@import url('https://fonts.googleapis.com/css?family=Lato|Lobster|Open+Sans');
:root{
  --light: white;
  --blue: #003831;
  --darkest: black;
  --dark-blue: #111a19;
  --light-blue: #00ae99;
  --dark: #181818;
}

#root{
  height: 100vh;
  width: 100vw;
}
body{
  font-family: 'Lato', sans-serif;
  background-color: var(--light);
}
.header{
  background-color: var(--darkest);
  color: var(--light);
}
.footer{
  background-color: var(--dark);
  color:var(--light);
}
.logo {
  margin-top:0;
  font-size: 3rem;
  font-family: 'Lobster', cursive;
}
h1,h2,h3,h4{
  font-family: 'Open Sans', sans-serif;
}
.btn, button{
  background-color: var(--blue);
  color: var(--light);
}
.btn:hover, button:hover{
  color:var(--light) !important;
}
.highlight{
  color: var(--light-blue);
}

/*****
  Landing page stuff
****/
.landing .subheader {
    font-size: 2em;
}
.landing .btn{
  height: 250px;
  height:100%;
  font-size: 3rem;
}
/********
 GetLoan1
********/
.card{
  background: var(--dark-blue);
  color: var(--light);
  max-width: 360px;

}
.card .photo{
  height:200px;
}
