@import url('https://fonts.googleapis.com/css?family=Lato|Lobster|Open+Sans|Patua+One');
:root{
  --light: white;
  --blue: #003831;
  --darkest: black;
  --dark-blue: #111a19;
  --light-blue: #00ae99;
  --dark: #181818;
}
html{ height:100%; }
body{ min-height:100%; padding:0; margin:0; position:relative; }
header{ height:50px; background:lightcyan; }
footer{ background:PapayaWhip; }

/* Trick: */
body {
 position: relative;
  font-family: 'Lato', sans-serif;
  background-color: var(--light);
  margin: 0;
  padding-bottom: 4rem;
  min-height: 100%;
}
body::after {
 content: '';
 display: block;
 height: 4rem; /* Set same as footer's height */
}

footer {
  background-color: var(--dark);
  color:var(--light);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;
}

.header{
  background-color: var(--darkest);
  color: var(--light);
}
.logo {
  margin-top:0;
  font-size: 3rem;
  font-family: 'Lobster', cursive;
  text-decoration: none !important;
  color: var(--light);
}
.logo:hover{
  text-decoration: none !important;
  color: var(--light-blue);
  text-shadow:1px 1px 1px var(--light);
}
h1,h2,h3,h4{
  font-family: 'Patua One', cursive;
}
.btn, button{
  background-color: var(--blue);
  color: var(--light);
  border:none;
}
.btn:hover, button:hover{
  background-color: var(--blue);
  color:var(--light) !important;
}
.highlight{
  color: var(--light-blue);
}

/*****
  Landing page stuff
****/
.landing .subheader {
    font-size: 2em;
}
.landing .blocks > div{
  min-height:180px;
  width: 300px;
  background-color: var(--blue);
}
.landing .btn{
  font-size: 3rem;
  font-family: 'Patua One', sans-serif;
}
/************
Card formatting
*********/
  .card{
    background: var(--dark-blue);
    color: var(--light);
    max-width: 360px;
  }
  .card-title{
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
  }


/********
 GetLoan1
********/
.card .photo{
  border: none;
  height:200px;
}
/************
 GetLoan2
*********/
input{
  color: var(--dark);
  text-align:right;
}
#getLoan2 .col-sm-8::after{
  position: absolute;
  top: 7px;
  color: var(--dark);

}
#ask{
  padding-right:41px;
}
.ask-input::after{
  right: 25px;
  content: 'DAI';
}
#interest{
  padding-right:26px;
}
.interest-input::after{
  right: 25px;
  content: '%';
}
#term{
  padding-right:66px;
}
.term-input::after{
  right: 25px;
  content: 'months';
}
/***********
*  GetLoan3
**************/
.getLoan3 .col-sm-8{
  background-color: var(--blue);
  border-radius: 8px;
  margin: 7px 0;
  height: 24px;
  line-height: 24px;
}
#status{
  font-size:1.5rem;
}
/**************
* spinner
*********/

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.faa-spin.animated,
.faa-spin.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-spin {
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

.wheel {
  -webkit-animation: spin 2.8s linear infinite;
  animation: spin 2.8s linear infinite;
}

.red{
  background-color: red;
}
